<section id="{{id}}">
	<div class="titleCard">
		<video loop="true">
			<source type="video/mp4" src="vid/titlecards/{{id}}.mp4"></source>
			<source type="video/webm" src="vid/titlecards/{{id}}.webm"></source>
		</video>
		<div></div>
		<h1 class="headline">Ahead of<br/>the Curve</h1>
		<a ng-mouseenter="onTitleButtonOver()" ng-mouseleave="onTitleButtonOut()" class="titleCardButton" ng-href="#!/academics/{{id}}/explore">
			<div class="border"></div>
			<div class="top"></div>
			<div class="bottom"></div>
			<p>click to look inside</p>
		</a>
	</div>
</section>