<!DOCTYPE html>
<html ng-app="app" class="ng-scope">

<head>
	<meta charset="utf-8">

	<title>Welcome to the Future of Football</title>
	<link rel="author" href="humans.txt">
	<meta name="author" content="Super Top Secret">
	<link rel="shortcut icon" href="/img/favicon.png">
	<meta property="og:url" content="http://www.oregongridiron.com">
	<meta property="og:title" content="Welcome to the Future of Football">
	<meta property="og:description"
		content="Welcome to the Future of Football. Check out www.oregongridiron.com and learn how Oregon is leading the way.">
	<meta property="og:image" content="http://oregongridiron.com/img/share-img.jpg">
	<meta name="title" content="Welcome to the Future of Football">
	<meta name="description" content="Welcome to the Future of Football. Check out how Oregon is leading the way.">
	<link rel="stylesheet" type="text/css" href="/min/?g=css">

	<!--
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMDDDDDDDNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMM7?+??????????????????????+78MMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMNI???????????????????????????????????+8MMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMM$???????????????+$DMMMMMMMMOI???????????????+MMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMM$??????????????+DMMMMMMMMMMMMMMMMMMI??????????????IMMMMMMMMMMMMMMM
	MMMMMMMMMMMM???????????????+MMMMMMMMMMMMMMMMMMMMMMMN??????????????+MMMMMMMMMMMMM
	MMMMMMMMMMM+??????????????8MMMMMMMMMMMMMMMMMMMMMMMMMM+??????????????NMMMMMMMMMMM
	MMMMMMMMMN??????????????+MMMMMMMMMMMMMMMMMMMMMMMMMMMMMI??????????????+MMMMMMMMMM
	MMMMMMMM7???????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMD??????????????+MMMMMMMMM
	MMMMMMMN???????????????DMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM+??????????????+MMMMMMMM
	MMMMMMM????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO???????????????8MMMMMMM
	MMMMMM????????????????ZMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM+??????????????+MMMMMMM
	MMMMMM????????????????NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM+???????????????$MMMMMM
	MMMMMM????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM????????????????+MMMMMM
	MMMMM8????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM7????????????????MMMMMM
	MMMMM$????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM$????????????????MMMMMM
	MMMMM7????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMZ????????????????MMMMMM
	MMMMMI????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMZ????????????????MMMMMM
	MMMMMI????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMZ????????????????MMMMMM
	MMMMMI????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMZ????????????????MMMMMM
	MMMMM7????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMZ????????????????MMMMMM
	MMMMM7????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM$????????????????MMMMMM
	MMMMMO????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM7????????????????MMMMMM
	MMMMMN????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMI???????????????+MMMMMM
	MMMMMM????????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM????????????????IMMMMMM
	MMMMMM+???????????????DMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM+???????????????NMMMMMM
	MMMMMM8???????????????7MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN???????????????7MMMMMMM
	MMMMMMM$??????????????+MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMI???????????????MMMMMMMM
	MMMMMMMM+???????????????MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM???????????????NMMMMMMMM
	MMMMMMMMMI??????????????DMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM+??????????????MMMMMMMMMM
	MMMMMMMMMM$??????????????+MMMMMMMMMMMMMMMMMMMMMMMMMMMM???????????????MMMMMMMMMMM
	MMMMMMMMMMMM+??????????????ZMMMMMMMMMMMMMMMMMMMMMMMM+?????????????+DMMMMMMMMMMMM
	MMMMMMMMMMMMMM??????????????+NMMMMMMMMMMMMMMMMMMMM7??????????????IMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMM7+?????????????+DMMMMMMMMMMMMMM7???????????????NMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMD+????????????????++++++???????????????+7MMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMM$????????????????????????????+IDMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMD$7??++++++++?I$OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
-->
</head>

<body ng-controller="AppCtrl" class="ng-scope">
	<!-- <p id="fps"></p> -->
	<div id="cursor"></div>
	<nav id="leftNav">
		<div class="slider">
			<div class="mask">
				<ul class="maskee">
					<!-- ngRepeat: tier1 in NAV | omitfirst -->
					<li ng-repeat="tier1 in NAV | omitfirst" class="ng-scope">
						<a class="footballhq" ng-href="#!/footballhq" ng-mouseenter="onLiOver($event)"
							ng-mouseleave="onLiOut($event)" ng-click="closeMenu($event)" href="#!/footballhq">
							<video loop="true"></video>
							<div></div>
							<p class="ng-binding">football hq</p>
						</a>
						<ul>
							<!-- ngRepeat: tier2 in tier1.subsections | limitTo:tier1.subsections.length-1 -->
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="facilities" ng-href="#!/footballhq/facilities" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/footballhq/facilities">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">facilities</p>
								</a>
							</li>
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="uniforms" ng-href="#!/footballhq/uniforms" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/footballhq/uniforms">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">uniforms</p>
								</a>
							</li>
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="lockerroom" ng-href="#!/footballhq/lockerroom" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/footballhq/lockerroom">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">locker room</p>
								</a>
							</li>
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="weightroom" ng-href="#!/footballhq/weightroom" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/footballhq/weightroom">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">weight room</p>
								</a>
							</li>
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="treatmentcenter" ng-href="#!/footballhq/treatmentcenter" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/footballhq/treatmentcenter">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">treatment center</p>
								</a>
							</li>
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="practicefields" ng-href="#!/footballhq/practicefields" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/footballhq/practicefields">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">practice fields</p>
								</a>
							</li>
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="autzenstadium" ng-href="#!/footballhq/autzenstadium" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/footballhq/autzenstadium">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">autzen stadium</p>
								</a>
							</li>
						</ul>
					</li>
					<li ng-repeat="tier1 in NAV | omitfirst" class="ng-scope">
						<a class="academics" ng-href="#!/academics" ng-mouseenter="onLiOver($event)" ng-mouseleave="onLiOut($event)"
							ng-click="closeMenu($event)" href="#!/academics">
							<video loop="true"></video>
							<div></div>
							<p class="ng-binding">academics</p>
						</a>
						<ul>
							<!-- ngRepeat: tier2 in tier1.subsections | limitTo:tier1.subsections.length-1 -->
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="welcometojaqua" ng-href="#!/academics/welcometojaqua" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/academics/welcometojaqua">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">welcome to jaqua</p>
								</a>
							</li>
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="tutoring" ng-href="#!/academics/tutoring" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/academics/tutoring">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">tutoring</p>
								</a>
							</li>
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="amenities" ng-href="#!/academics/amenities" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/academics/amenities">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">amenities</p>
								</a>
							</li>
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="aheadofthecurve" ng-href="#!/academics/aheadofthecurve" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/academics/aheadofthecurve">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">ahead of the curve</p>
								</a>
							</li>
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="leaveyourmark" ng-href="#!/academics/leaveyourmark" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/academics/leaveyourmark">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">leave your mark</p>
								</a>
							</li>
						</ul>
					</li>
					<li ng-repeat="tier1 in NAV | omitfirst" class="ng-scope">
						<a class="hometurf" ng-href="#!/hometurf" ng-mouseenter="onLiOver($event)" ng-mouseleave="onLiOut($event)"
							ng-click="closeMenu($event)" href="#!/hometurf">
							<video loop="true"></video>
							<div></div>
							<p class="ng-binding">home turf</p>
						</a>
						<ul>
							<!-- ngRepeat: tier2 in tier1.subsections | limitTo:tier1.subsections.length-1 -->
							<li ng-repeat="tier2 in tier1.subsections | limitTo:tier1.subsections.length-1" class="ng-scope">
								<a class="explorecampus" ng-href="#!/hometurf/explorecampus" ng-mouseenter="onLiOver($event)"
									ng-mouseleave="onLiOut($event)" ng-click="closeMenu()" href="#!/hometurf/explorecampus">
									<video loop="true"></video>
									<div></div>
									<p class="ng-binding">explore campus</p>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="scrollbar" draggable="true" style="height: 15.18339416058394px; top: 91px; "></div>
			<footer>
				<div>
					<p>sound:</p>
					<a ng-mouseenter="onOver()" class="sound" ng-click="onMuteClick()">
						<div class="white"></div>
					</a>
				</div>
				<div>
					<p>visit us at:</p>
					<a ng-mouseenter="onOver()" ng-click="onClick()" href="http://instagram.com/oregongridiron/"
						target="_blank"><i class="icon-instagramm"></i></a>
					<a ng-mouseenter="onOver()" ng-click="onClick()" href="https://twitter.com/oregongridiron" target="_blank"><i
							class="icon-twitter"></i></a>
					<a ng-mouseenter="onOver()" ng-click="onClick()" href="http://vimeo.com/oregongridiron/" target="_blank"><i
							class="icon-vimeo"></i></a>
				</div>
			</footer>
		</div>
		<a href="#!/" class="oh" ng-mouseenter="onTitleButtonOver()" ng-mouseleave="onTitleButtonOut()"></a>
		<a href="" ng-mouseenter="onOver()" class="openClose">
			<div class="normal"></div>
			<div class="hover"></div>
		</a>
	</nav>
	<nav id="rightNav">
		<div class="angledMask">
			<div ng-mouseleave="onStraightOut()" class="straight">
				<a ng-mouseenter="onOver()" class="envelope"
					href="http://www.cloudflare.com/email-protection#59660a2c3b333c3a2d640e3c353a36343c7c6b692d367c6b692d313c7c6b691f2c2d2c2b3c7c6b69363f7c6b691f36362d3b3835357f383429623b363d20640e3c35Xcome%20to%20the%20Future%20of%20Football.%20Check%20out%20www.oregongridiron.com%20and%20learn%20how%20Oregon%20is%20leading%20the%20way.">
					<img ng-src="/img/rightnav/envelope.png" class="env_img" src="/img/rightnav/envelope.png">
					<div class="hover">
						<img ng-src="/img/rightnav/envelope_over.png" class="env_img" src="/img/rightnav/envelope_over.png">
					</div>
				</a>
				<a ng-mouseenter="onOver()" href=""><i class="icon-twitter"></i></a>
				<a ng-mouseenter="onOver()" href=""><i class="icon-facebook"></i></a>
				<a ng-mouseenter="onOver()" href=""><i class="icon-gplus"></i></a>
			</div>
		</div>
		<a ng-mouseenter="onShareOver()" href="" class="share">
			<img ng-src="/img/rightnav/share.png" src="/img/rightnav/share.png">
			<div class="hover">
				<img ng-src="/img/rightnav/share_over.png" src="/img/rightnav/share_over.png">
			</div>
		</a>
	</nav>
	<nav id="topNav">
		<a ng-mouseenter="onArrowOver()" ng-mouseleave="onArrowOut()" class="arrow horizontal left" href="">
			<div class="green">
				<div class="inner">
					<img ng-src="/img/arrows/left_green_inner.png" src="/img/arrows/left_green_inner.png">
				</div>
			</div>
			<div class="white">
				<div class="inner">
					<img ng-src="/img/arrows/left_white_inner.png" src="/img/arrows/left_white_inner.png">
				</div>
			</div>
			<p><span>previous</span></p>
		</a>
		<a ng-mouseenter="onArrowOver()" ng-mouseleave="onArrowOut()" class="arrow vertical x" href="">
			<div class="green"></div>
			<div class="white"></div>
			<p><span>leave experience</span></p>
		</a>
		<a ng-mouseenter="onArrowOver()" ng-mouseleave="onArrowOut()" class="arrow horizontal right" href="">
			<div class="green">
				<div class="inner">
					<img ng-src="/img/arrows/right_green_inner.png" src="/img/arrows/right_green_inner.png">
				</div>
			</div>
			<div class="white">
				<div class="inner">
					<img ng-src="/img/arrows/right_white_inner.png" src="/img/arrows/right_white_inner.png">
				</div>
			</div>
			<p><span>next</span></p>
		</a>
	</nav>
	<a ng-mouseenter="onArrowOver()" ng-mouseleave="onArrowOut()" class="arrow vertical up" href="" id="upArrowNav">
		<div class="green">
			<div class="inner">
				<img ng-src="/img/arrows/up_green_inner.png" src="/img/arrows/up_green_inner.png">
			</div>
		</div>
		<div class="white">
			<div class="inner">
				<img ng-src="/img/arrows/up_white_inner.png" src="/img/arrows/up_white_inner.png">
			</div>
		</div>
		<p><span></span></p>
	</a>
	<a ng-mouseenter="onArrowOver()" ng-mouseleave="onArrowOut()" class="arrow vertical down pause" href=""
		id="downArrowNav">
		<div class="green">
			<div class="inner">
				<img ng-src="/img/arrows/down_green_inner.png" src="/img/arrows/down_green_inner.png">
			</div>
		</div>
		<div class="white">
			<div class="inner">
				<img ng-src="/img/arrows/down_white_inner.png" src="/img/arrows/down_white_inner.png">
			</div>
		</div>
		<p class="pause"><span class="pause"></span></p>
	</a>
	<a ng-mouseenter="onArrowOver()" ng-mouseleave="onArrowOut()" class="arrow horizontal left pause" href=""
		id="leftArrowNav">
		<div class="green">
			<div class="inner">
				<img ng-src="/img/arrows/left_green_inner.png" src="/img/arrows/left_green_inner.png">
			</div>
		</div>
		<div class="white">
			<div class="inner">
				<img ng-src="/img/arrows/left_white_inner.png" src="/img/arrows/left_white_inner.png">
			</div>
		</div>
		<p class="pause"><span class="pause"></span></p>
	</a>
	<a ng-mouseenter="onArrowOver()" ng-mouseleave="onArrowOut()" class="arrow horizontal right pause" href=""
		id="rightArrowNav">
		<div class="green">
			<div class="inner">
				<img ng-src="/img/arrows/right_green_inner.png" src="/img/arrows/right_green_inner.png">
			</div>
		</div>
		<div class="white">
			<div class="inner">
				<img ng-src="/img/arrows/right_white_inner.png" src="/img/arrows/right_white_inner.png">
			</div>
		</div>
		<p class="pause"><span class="pause"></span></p>
	</a>
	<ul id="sideSquares">
	</ul>
	<ul id="bottomSquares">
		<!-- ngRepeat: tier1 in NAV -->
		<li ng-repeat="tier1 in NAV" class="ng-scope"><a class="pause" ng-mouseenter="onOver()" href=""
				ng-click="onBottomSquaresClick($event)"></a></li>
		<li ng-repeat="tier1 in NAV" class="ng-scope"><a class="pause" ng-mouseenter="onOver()" href=""
				ng-click="onBottomSquaresClick($event)"></a></li>
		<li ng-repeat="tier1 in NAV" class="ng-scope"><a class="pause" ng-mouseenter="onOver()" href=""
				ng-click="onBottomSquaresClick($event)"></a></li>
		<li ng-repeat="tier1 in NAV" class="ng-scope"><a class="pause" ng-mouseenter="onOver()" href=""
				ng-click="onBottomSquaresClick($event)"></a></li>
	</ul>
	<div id="videoHolder">
		<video preload="none">
			<source type="video/mp4" src="/vid/home/home.mp4">
			<source type="video/webm" src="/vid/home/home.webm">
		</video>
	</div>
	<div id="blackCover"></div>
	<div ng-view="" ng-animate="{leave:'outro',enter:'intro'}" id="realContentContainer">
		<section id="{{id}}" class="intro intro-active" style="display: block; ">
			<div class="titleCard">
				<video loop="true">
					<source type="video/mp4" src="/vid/titlecards/{{id}}.mp4">
					<source type="video/webm" src="/vid/titlecards/{{id}}.webm">
				</video>
				<div></div>
				<h2>welcome to the</h2>
				<h1 class="headline">future of<br>football</h1>
				<a ng-mouseenter="onTitleButtonOver()" ng-mouseleave="onTitleButtonOut()" class="titleCardButton big pause"
					href="">
					<div class="border"></div>
					<div class="top"></div>
					<div class="bottom"></div>
					<p>Watch the Film</p>
				</a>
			</div>
		</section>
	</div>
</body>

</html>