<section id="{{id}}">
	<div class="titleCard">
		<video loop="true">
			<source type="video/mp4" src="vid/titlecards/{{id}}.mp4"></source>
			<source type="video/webm" src="vid/titlecards/{{id}}.webm"></source>
		</video>
		<div></div>
	</div>
	<div class="unfoldingText">
		<canvas></canvas>
		<h1>welcome to the jaqua center</h1>
		<p>The John E. Jaqua Academic Center was designed with performance in mind. Built exclusively for use by student athletes, the facilities and services housed here will no doubt be part of your off-the-field achievement both at Oregon and after. This is where you come to get headstrong.</p>
	</div>
</section>