<section id="{{id}}">
	<div class="titleCard">
		<video loop="true">
			<source type="video/mp4" src="vid/titlecards/{{id}}.mp4"></source>
			<source type="video/webm" src="vid/titlecards/{{id}}.webm"></source>
		</video>
		<div></div>
	</div>
	<div class="unfoldingText">
		<canvas></canvas>
		<h1>developing your talent is ours</h1>
		<p>Balancing between playbook and textbook can be a challenge, but you’ll have all the right resources to make it as easy as possible. The Jaqua Center employs more than 50 tutors to get you through your daily grind, while subject specific drop-in labs are available for quick help in between appointments. Learning specialists, academic advisors, sports psychologists, life skills coaches and others are part of the building’s larger support staff. This team is dedicated to helping you manage your schedule so you can stay on top of your work as you prep for exams and papers, and plan for life beyond Oregon.</p>
	</div>
</section>